html {
    width: 1440px;
    height: 1561px;
}

.main {
    margin-left: 105px;
}

h2 {
    color: #212B36;

    font-family: "Public Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0;
    text-align: center;
}

p {
    color: var(--Text-on-Light, #212B36);

    font-family: "Public Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0;
    text-align: center;
    margin-bottom: 54px;

}

.username-pw {
    width: 523px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid var(--Divider, #E0E4E8);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 29px;
    font-size: 24px;
}



.forgot {
    color: #091A7A;

    font-family: "Public Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    float: right;
}

.btn  {
    width: 523px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--Primary, #00AC55);
    margin-top: 29px;
    color: rgba(255, 255, 255, 0.90);

    font-family: "Public Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn2 {
    width: 523px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid var(--Divider, #E0E4E8);
    background: #FFF;
    margin-top: 29px;
    color: #919EAB;

    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: var(--Divider, #E0E4E8);
    font-family: "Public Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}


.account {
    color: #212B36;

    font-family: "Public Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 29px;
    text-align: left;
}

.sign-up {
    color: #091A7A;

    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    margin-left: 37px;
}

table {
    width: 524px;
    /* height: 738px; */
    flex-shrink: 0;
}

main {
    display: flex;
    width: 1439px;
    height: 997px;
    flex-shrink: 0;
    margin-top: 120px;
}

form {
    width: 650px;
}

.hinh-main {
    width: 720px;
height: 700px;
flex-shrink: 0;
background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.hinh-gg {
width: 44.914px;
height: 47.5px;
flex-shrink: 0;
border-radius: 10px;
background: url(<path-to-image>)  / cover no-repeat;
}

